body {
    overflow-x: hidden;
    font-size: 17px;
    /*font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.change-my-color {
    fill: green;
}

.arrow {
    width: 1.5em;
    transform: rotateZ(270deg);
    /* margin-top: 24px; */
    position: relative;
    bottom: -2em;
    -webkit-animation-name: blink;
    /* Chrome, Safari, Opera */
    -webkit-animation: blink 2s infinite;
    /* Chrome, Safari, Opera */
    animation-name: blink;
    animation: blink 2s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.firstpage_row {
    position: relative;
    height: 40.4em;
}

.firstpage_background {
    background-color: black;
    height: 200%;
    position: relative;
    background-image: url("image/pebble_final_view62.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mac {
    position: relative;
    left: 50%;
}

.logo {
    padding: 0;
    position: relative;
    top: -4px;
}

ul li.companyname {
    color: white;
    font-size: 1.5em;
}

.content {
    position: absolute;
    top: 0;
    width: 100%
}

.header_firstpage {
    padding: 2em;
    position: relative;
    opacity: 1;
}

.firstpage,
.seventhpage {
    padding-top: 2.6em;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.whitefield {
    color: white;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 1.5em;
}

.content_firstpage {
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    /*word-spacing: 2px;*/
}

.pull-right {
    color: white;
    font-size: 1em;
    padding: 5px;
    margin-right: 1em;
    position: relative;
}

.nav>li>a {
    color: white;
    font-size: 1em;
}

li {
    padding: 10px;
}

.btn_firstpage,
.btn_secondpage,
.btn_fifthpage {
    border-radius: 15px;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    margin-top: 6.8em;
}

.btn_firstpage {
    color: #13a58f;
    border-color: #13a58f;
    font-weight: bold;
    border-width: 2px;
    font-size: 1.2em;
}

.btn_firstpage:hover {
    color: white;
    background-color: #13a58f;
    border-color: white;
}

.btn_secondpage {
    color: white;
    background-color: #13a58f;
    position: relative;
    top: 1.3em;
    padding: 10px 20px
}

.btn_secondpage:hover {
    color: white;
    background-color: #383434;
}

.second_row,
.fourth_row {
    margin-top: 9em;
}


/*second image*/

.secondline {
    letter-spacing: 3px;
    position: relative;
    left: -50%;
}


/*third page*/

.third_row {
    background-color: #13a58f;
    z-index: 999;
}

.whyus {
    text-align: center;
    color: white;
}

.icon {
    height: 10em;
}

.whyus h2 {
    padding: 1em;
}

.rightimage1 {
    font-weight: bold;
}

.thirdpage_left p,
.thirdpage_right p {
    margin-bottom: 4em;
}

.sixthpage_left p,
.sixthpage_right p {
    margin-bottom: 4em;
}


/*fourth row*/


/*#id_fourthrow{
	background-image: url("image/CONCRETE-CONCEPT-Apt-KASIA-ORWAT-1.jpg");
	position: relative;
}
*/

div#id_fourthrow {
    position: relative;
    height: 36.7em;
}

.fourth_row_background {
    background-image: url("image/CONCRETE-CONCEPT-Apt-KASIA-ORWAT-1.jpg");
    position: relative;
    height: 200%;
    opacity: .5;
}

.white_shadow {
    /* height: 100%; */
    background: white;
    opacity: .5;
}

.taklu {
    position: absolute;
    top: 0px;
}

.taklu_man {
    position: relative;
    left: -45%;
}

.taklu_para {
    letter-spacing: 3px;
    position: relative;
    left: 55%;
}


/*fifth page*/

.fifth_row {
    background-color: #13a58f;
}

.fifthpage_icon {
    height: 25em;
    padding: 2.5em 3.28em;
}

.secondline_heading {
    position: relative;
    margin-bottom: 1em;
}

.para {
    position: relative;
    left: 2em;
}

.btn_fifthpage:hover {
    color: white;
    background-color: #383434;
}

.img_caption {
    background: black;
    letter-spacing: 2px;
}

.img_caption {
    position: absolute;
    left: 11%;
    text-align: center;
    bottom: 10%;
    width: 78%;
    padding: 2.2em 0.5em;
    background: rgba(0, 0, 0, 0.64);
    color: white;
}

.btn_fifthpage {
    margin-top: 2em;
    color: white;
    background-color: #383434;
    border-color: #383434;
    padding: 8px 53px;
    position: relative;
    left: 1em;
}

.heading_township h2 {
    text-align: center;
    color: white;
    /*margin-top: 1em;*/
}


/*Sixth page*/

.different {
    text-align: center;
    color: black;
    font-weight: bold;
}

.different h2 {
    margin: 1.8em;
}

.icons {
    height: 8em;
    margin-bottom: 1em;
}

.space {
    letter-spacing: 2px;
    font-size: bold;
}


/*seventh page*/

.seventh_box {
    position: relative;
}

.seventhpage_row {
    background-image: url("image/City-Night-View-random-9503757-1500-1010.jpg");
    height: 40.4em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gettingintouch {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-bottom: 1.5em;
    font-size: 2.2em;
    margin-top: 4.8em;
}

.btn_seventhpage {
    border-radius: 22px;
    background-color: transparent;
    color: white;
    font-size: 1.3em;
    margin-top: 3.8em;
    letter-spacing: 1px;
    padding: .6em 3.4em;
    border-width: 4px;
}

.image4 {
    position: relative;
    left: 80%;
}

.image5 {
    position: relative;
    left: 50%;
}

.image6 {
    position: relative;
    left: 50%;
}


/*Eighth contact page*/

input::-webkit-input-placeholder {
    color: black;
}

textarea::-webkit-input-placeholder {
    color: black;
}

input[type="text"] {
    padding: 6px;
    width: 100%;
    margin: 10px 0px;
    border-color: black;
}

input[type="email"] {
    padding: 6px;
    width: 100%;
    margin: 10px 0px;
    border-color: black;
}

textarea[name="message"] {
    padding: 6px;
    width: 100%;
    border-color: black;
    margin: 10px 0px;
}

.btn_seventhpage:hover {
    color: white;
    background-color: transparent;
}


/*a .btn_seventhpage:hover
{
	text-decoration: none;
}*/

.formelement {
    margin: 1.8em;
}

.contact_menu {
    height: 23em;
}

.contact_para {
    letter-spacing: 2px;
    font-size: 1.2em;
}

.eighthpage h2 {
    margin-top: 1.5em;
    margin-bottom: .7em;
}

.contact_icons {
    height: 14em;
}

.eighthpage_left {
    background-color: #13a58f;
    height: 32em;
}

.eighthpage_right {
    background-image: url("image/tumblr_mseyflC0zi1rpgpe2o1_500.jpg");
    height: 32em;
    padding: 0px;
    position: relative;
}

.btn_send {
    float: right;
    color: white;
    background: #383434;
    border-color: black;
    font-size: 1em;
    letter-spacing: 1px;
    padding: .5em 4em;
    margin-top: -1.4em;
    margin-right: 1.8em;
}

.btn_send:hover {
    background: #383434;
    color: white;
}

.phone {
    height: 11em;
    position: relative;
    top: 30px;
}

.details {
    margin-top: 3.1em;
}

.contactus {
    font-weight: bold;
    font-size: 3.5em;
}

.information {
    font-weight: 2.5em;
}

.info {
    font-weight: bold;
    font-size: 1.6em;
}

.eighthpage_right p {
    word-spacing: 1px;
    font-size: 1.3em;
    padding: 0em 3.5em;
    text-align: left;
}

.eighthpage_right img {
    height: 24.1em;
}


/*footer*/

.footer {
    background: #383434;
}

.footer_menus {
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.line {
    color: white;
    margin: 0px 5px;
}

.menuslist {
    text-align: center;
}

.text {
    color: white;
    font-weight: bold;
}

.footer_image {
    position: relative;
    right: 3em;
    margin-bottom: 1.3em;
    margin-top: 2.1em;
}

.connectsoon {
    color: white;
    margin-top: 1.5em;
}

.smallheader small {
    color: white;
}

.smallheader {
    margin-top: 6em;
    margin-bottom: 2.5em;
}

.white_shadow {
    background: white;
    opacity: .7;
    position: absolute;
    height: 36.7em;
    top: 0;
    z-index: 999;
}

.para_map {
    position: absolute;
    top: 0;
}

@media only screen and (max-width: 500px) {
    .btn_firstpage {
        position: relative;
        bottom: 16em;
    }
    img s.arrow {
        position: relative;
        border-bottom: 18em;
    }
    .mac img {
        position: relative;
        bottom: 8em;
        left: -15em;
    }
    .mac img {
        position: relative;
        top: 3.2em;
    }
    .pull-right {
        position: relative;
        bottom: 5.5em;
        left: 2.5em;
    }
}